@mixin flex-mixin($flexdir, $alignitems) {
  display: flex;
  flex-direction: $flexdir;
  align-items: $alignitems;
}

@mixin default-scale() {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

@mixin before-event-info($urlIcon) {
  content: "";
  display: block;
  background: url($urlIcon) no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}
