$main-gradient: linear-gradient(90deg, #2e1665 0%, #57001e 100%);
$main-font: 20px PT-serif, serif;
$title-font: bold 50px PT-serif, serif;
$little-font: 16px PT-serif, serif;
$title-event: bold 30px PT-serif, serif;


$project-grey: #8986AC;
$project-black: #000000;
$project-white: #FFFFFF;
$project-red: #CE0E50;

$project-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
