<div class="smbs-event">
    <div class="smbs-event__photo"></div>
    <div class="smbs-event__text">
        <div class="smbs-event__title">
            <a href="#" data-direction="eventPage">Какая-то очень красивая интересная выставка</a>
        </div>
        <div class="smbs-event__info">
            <div class="smbs-event__place">Бар TRUE BAR</div>
            <div class="smbs-event__data">10 марта 20:00</div>
        </div>
    </div>
    <div class="smbs-event__chosen">

    </div>
</div>