.smbs-event
    a.smbs-event__photo(style='background: url(http://95.163.180.8:1323/api/v1/event/' + id + '/image) no-repeat center / cover;', href='event' + id)
    .smbs-event__text
        .smbs-event__title
            a.block-anchor(href='event' + id) #{title}
        .smbs-event__info
            .smbs-event__place #{place}
            .smbs-event__data Начало:  #{startDate}
            .smbs-event__data Окончание:  #{endDate}
