.smbs-events-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.smbs-event {
  background-color: white;
  min-height: 175px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  &__photo {
    min-height: 100%;
    flex-basis: 35%;
    background: url("../templates/one-event-block/img/chel.jpg") no-repeat center / cover;
    flex-shrink: 1;

    &:hover {
      transform: scale(1.05);
      transition-duration: 1s;
    }
  }

  &__text {
    text-align: left;
    margin: 25px;
    flex-basis: 650px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
  }

  &__info {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
  }

  &__place {
    font-weight: bold;
  }

  &__chosen {
    background: url("../templates/one-event-block/img/star-chosen.svg") no-repeat center / cover;
    width: 30px;
    height: 30px;
    margin: 25px 25px 25px 0px;
    flex-shrink: 0;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.5s;
    }
  }

  &__unchosen {
    background: url("../templates/one-event-block/img/star-unchosen.svg") no-repeat center / cover;
    width: 30px;
    height: 30px;
    margin: 25px 25px 25px 0px;
    flex-shrink: 0;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.5s;
    }
  }
}

