.notification-empty
    .notification-empty__title
        | Ошибка при определении местоположения
    .notification-empty__text
        | Скорее всего, Вы не дали доступ к вашему местоположению. Ближайшие мероприятия появятся, как только Вы дадите доступ к Вашему местонахождению. После этого перезагрузите страницу.
