.events-block
  a.events-block__photo(href='event' + id, id=id, data-direction='eventPage')
  .events-block__text
    .events-block__title
      |#{title}
    .events-block__info
      |#{description}