.row
  .page-photo_events
  .container
    .right-row
      .text-block
        .text-block__title
          | QDA го? Ну го.
        .decor-line
        .text-block__body
          | У Вас скучные и однообразные дни? Хотите куда-нибудь сходить, но не знаете, что Вам подойдет больше? QDA поможет Вам выбрать место для прекрасного времяпрепровождения. Регистрируйтесь и умная система рекомендаций посовоетует досуг, который точно придется Вам по вкусу! Не с кем пойти? Выбирайте и смотрите, кто уже идет на мероприятие. Подписывайтесь друг на друга и ходите на мероприятия вместе. Приятного отдыха!
  .events-table
    .container
      .title
        | Находите события
        .right-arrow
      .category-buttons-row
        button.button-category_inactive.category-button(data-category='')
          | Все
        button.button-category_inactive.category-button(data-category='Выставка')
          | Выставки
        button.button-category_inactive.category-button(data-category='Кино')
          | Кино
        button.button-category_inactive.category-button(data-category='Музей')
          | Музеи
        button.button-category_inactive.category-button(data-category='Рекомендации', id='jsRecommendButton')
          | Рекомендации
      #events-row(class="center-row")
