    <div class="row">
        <div class="my-profile-main-block">
            <a href="#" data-direction="main" class="my-profile-main-block__back-button"></a>
            <div class="my-profile-header">
                <div class="my-profile-header__avatar-block" id='profileAvatar'>
                    <input type="file" id='postAvatarProfile'>
                    <button class="change-avatar-button" id='changeAvatarButton'></button>
                </div>
                <div class="my-profile-header__info-block">
                    <div class="my-profile-header__title">Надежда Меркулова</div>
                    <div class="my-profile-header__login-block">@nmerk</div>
                    <div class="my-profile-header__followers-block">
                        <div class="my-profile-header__followers-img"></div>
                        131 подписчик
                    </div>
                    <div class="my-profile-header__events-stats-block">
                        <div class="my-profile-header__events-stats-block_planning">
                            <div class="my-profile-header__black-star-img"></div>
                            2 планируемых
                        </div>
                        <div class="my-profile-header__events-stats-block_visited">
                            <div class="my-profile-header__visited-events-img"></div>
                            11 посещенных
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-profile__tabs-block">
                <button class="tab-active" id="eventsTab" data-buttontype="toggle">
                    <div class="my-profile__events-img"></div>
                    Мероприятия
                </button>
                <button class="tab-inactive" id="aboutTab" data-buttontype="toggle">
                    <div class="my-profile__about-img"></div>
                    Обо мне
                </button>
                <button class="tab-inactive" id="settingsTab" data-buttontype="toggle">
                    <div class="my-profile__settings-img"></div>
                    Настройки
                </button>
            </div>
            <div class="my-profile__decor-line"></div>
            <div class="changing-content-block" id="changing-content">

            </div>
        </div>
    </div>
