.form
  a.form__arrow-back(href='#', data-direction='back')
  .form__title &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
  .decor-line
  .form-body
    input.form-body__input__login(type='text' placeholder='Введите логин')
    input.form-body__input__password(type='password' placeholder='Введите пароль')
    input.form-body__input__nickname(type='text' placeholder='Введите имя')
    button.confirm-button
      span.button-label(type='submit') &Zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;&scy;&yacy;
    span.form__bottom-text
      | &Ucy;&zhcy;&iecy; &iecy;&scy;&tcy;&softcy; &acy;&kcy;&kcy;&acy;&ucy;&ncy;&tcy;?
      a.a-stroke(data-direction='login' href='/login') &Vcy;&ocy;&jcy;&dcy;&icy;&tcy;&iecy;.
