.form
  a.form__arrow-back(href='#', data-direction='back')
  .form__title Регистрация
  .decor-line
  form.form-body(id='formBody')
    input.form-body__input__login(type='text' name='login' placeholder='Введите логин')
    input.form-body__input__password(type='password' name='password' placeholder='Введите пароль')
    input.form-body__input__nickname(type='text' name='nickname' placeholder='Введите имя')
    button.confirm-button(type='submit' id='postRegistration')
      span.button-label Зарегистрироваться
    span.form__bottom-text
      | Уже есть аккаунт?
      a.a-stroke(data-direction='login' href='/login') Войдите.
