@mixin flex-mixin($flexdir, $alignitems) {
  display: flex;
  flex-direction: $flexdir;
  align-items: $alignitems;
}

@mixin default-scale() {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

@mixin before-event-info($urlIcon) {
  content: "";
  display: block;
  background: url($urlIcon) no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

$maxWidthContainer: 1200;
@mixin value-adaptive($property, $startSize, $endSize) {
  $addSize: $startSize - $endSize;

  #{property}: $startSize + px;
  #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
}
