@mixin flex-mixin($flexdir, $alignitems) {
  display: flex;
  flex-direction: $flexdir;
  align-items: $alignitems;
}

@mixin default-scale() {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

@mixin before-event-info($urlIcon) {
  content: "";
  display: block;
  background: url($urlIcon) no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

$maxWidthContainer: 1200;
@mixin value-adaptive($property, $startSize, $endSize) {
  $addSize: $startSize - $endSize;

  #{property}: $startSize + px;
  #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
  //мин. значение + (изнач. значение - мин. значение) * ((ширина вьюпорта - мин. ширина экрана) / (ширина ограничивающего контейнера - мин. ширина экрана))
}

@function smbs-event-half-height($startSize, $endSize) {
  $addSize: $startSize - $endSize;
  @return calc((#{$endSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})) / 2);
}

//миксины для glassmorphism:
@mixin gm-main-block() { //для основной подложки
  background: rgba( 120, 120, 120, 0.2 ); //для темного фона
  //background: rgba( 40, 40, 40, 0.35 ); //для светлого(относительно) фона
  box-shadow: 8px 8px 24px 0 rgba( 0, 0, 0, 0.2 );
  backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.25 );
  border-bottom: 0;
  border-right: 0;
}

@mixin gm-round-button() { //для круглых кнопок
  filter: brightness(2);
  border-radius: 50%;
  border: 1px solid rgba(222, 215, 216, 0.5);
}

@mixin gm-second-layer-element() { //для элементов второго слоя (на основном): инпут поиска, плашки мероприятий и т.п.
  background: rgba( 0, 0, 0, 0.5 );
  //backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.6 );
  border-bottom: 0;
  border-right: 0;
}

@mixin gm-text() { //для текста
  color: rgba(222, 215, 216, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: start;
}