@import "mixins";
@import "variables";


.body {
  font: $main-font;
  background: $project-white;
}

.wrapper {
  @include flex-mixin(column, center);
  min-height: 100%;
  overflow: hidden;
  padding: 30px 0;
  transition: background 1.5s ease-in-out;
  position: relative;
}

.decor-line {
  height: 1px;
  width: 100%;
  background-color: $project-grey;
  margin-top: 50px;
}

::placeholder {
  font: $main-font;
  left: 5px;
  color: $project-grey;
}

input {
  font: $main-font;
  position: relative;
  left: 5px;
  color: $project-black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: bold;
  font-size: 50px;
  color: $project-black;
  background: $project-white;
}

.error-block-avatar {
  position: absolute;
  color: $project-red;
  width: 160px;
  top: 175px;
}

.block-anchor {
  color: #2E1665;

  &:hover {
    color: #8986AC;
  }
}
