@import "mixins";
@import "variables";

.form {
  background-color: $project-white;
  box-shadow: $project-box-shadow;
  @include flex-mixin(column, center);
  align-self: center;
  justify-content: space-between;
  margin: auto;
  padding: 32px;
  @include value-adaptive("padding-left", 30, 15);
  @include value-adaptive("padding-right", 30, 15);
  position: relative;
  @include value-adaptive("width", 500, 390);

  &__arrow-back {
    background: url('../components/img/back-arrow.svg') no-repeat center / cover;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    transform: translate(-50%);

    &:hover {
      transition-duration: 0.5s;
      transform: translate(-60%);
    }
  }

  &__title {
    color: $project-black;
    font: $title-font;
    @include value-adaptive("font-size", 50, 42);
  }

  &__bottom-text {
    margin-top: 16px;
    color: $project-grey;
    font: $main-font;
    font-size: 18px;

    &_anchor {
      font: $main-font;
      font-size: 18px;
      margin-left: 5px;
      color: $project-grey;
      text-decoration: underline;
    }
  }
}

.form-body {
  @include flex-mixin(column, center);
  justify-content: space-between;
  width: 100%;
  &__input {
    padding: 16px;
    width: 100%;
    height: 60px;
    margin-top: 48px;
    box-shadow: $project-box-shadow;

    &_error {
      margin-top: 3px;
      height: 0;
      //color: $project-red;
      color: #ff73a3;
      width: 100%;
      font-size: 16px;
      text-align: center;
    }

    @media (max-width:767px) {
      &_error {
        @include value-adaptive("margin-top", 10, -5);
        white-space: nowrap;
        font-size: 13px;
      }
    }

    &_success {
      margin-top: 3px;
      height: 0;
      color: green;
      width: 100%;
      font-size: 13px;
      text-align: center;
    }
  }
}
