.row {
  margin-top: 30px;
}

.right-row {
  display: flex;
  justify-content: flex-end;
}

.left-row {
  display: flex;
  justify-content: start;
}

.center-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}
