@import "variables";
@import "mixins";

.text-block {
  @include flex-mixin(column, center);
  justify-content: space-between;
  max-width: 570px;
  padding: 20px;
  margin-top: 60px;
  box-shadow: $project-box-shadow;
  background: $project-white;

  &__title {
    font: $title-font;
    color: $project-black;
  }

  &__body {
    margin-top: 15px;
    font: $main-font;
  }
}
