@import "variables";
@import "mixins";

.text-block {
  @include flex-mixin(column, flex-start);
  justify-content: space-between;
  max-width: 570px;
  padding: 24px;
  box-shadow: $project-box-shadow;
  background: $project-white;
  border-radius: 20px;

  &__title {
    font: $title-font;
    color: $project-black;
  }

  &__body {
    margin-top: 15px;
    font: $main-font;
    font-size: 16px;
  }
}
