:root {
  --main-gradient: linear-gradient(90deg, #2e1665 0%, #57001e 100%);
}

.wrapper {
  min-height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: none;
  }
}

.content {
  flex: 0 1 auto;
}

.navbar {
  background: var(--main-gradient);
}

.navbar__row {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Abril Fatface;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.navbar-menu__signup {
  width: 20px;
  height: 20px;
  background: url("../img/Vector.png") no-repeat center / 100%;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.form__arrow-back {
  background: url(../img/back-arrow.svg) no-repeat center / 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  transform: translate(-50%);
}

.form__arrow-back:hover {
  transition-duration: 0.5s;
  transform: translate(-60%);
}

.form__title {
  width: 510px;
  height: 50px;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  color: #000000;
}

.decor-line {
  height: 1px;
  width: 100%;
  background-color: #8986AC;
  margin: 50px 0;
}

.form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-body__input__login {
  padding: 21px;
  width: 510px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.form-body__input__password {
  padding: 21px;
  width: 100%;
  max-height: 60px;
  margin-top: 37px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.form-body__input__nickname {
  padding: 21px;
  width: 100%;
  max-height: 60px;
  margin-top: 37px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.confirm-button {
  width: 510px;
  height: 60px;
  margin-top: 58px;
  background: var(--main-gradient);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirm-button:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.button-label {
  font-family: PT Serif;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.form__bottom-text {
  font-family: PT Serif;
  font-size: 20px;
  line-height: 22px;
  /* or 110% */
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.a-stroke {
  margin-left: 5px;
  color: #2E1665;
  text-decoration: underline;
}

::placeholder {
  font-family: PT Serif;
  font-size: 20px;
  left: 5px;
  color: #8986ac;
}

input {
  font-family: PT Serif;
  font-size: 20px;
  left: 5px;
  color: black;
}


.text-block {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 570px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
}

.text-block__title {
  width: 510px;
  height: 73px;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  color: #000000;
}

.text-block__body {
  font-family: PT Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;  
}

.row {
  margin-top: 30px;
}

.right-row {
  display: flex;
  justify-content: flex-end;
}

.title {
  width: 510px;
  height: 73px;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
  color: #000000;
}

.button-active {
  background: var(--main-gradient);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
}

.button-inactive {
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
}

.button-inactive:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.button-active:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.left-row {
  display: flex;
  justify-content: start;
}

.button-label_inactive {
  font-family: PT Serif;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}

.center-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

.events-table {
  margin-top: 100px;
}

.event-info {
  margin-top: 60px;
}


.event-block {
  background-color: white;
  max-width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
}

.event-block__photo {
  min-height: 300px;
  background: url("../img/chel.jpg") no-repeat center / cover;
}

.event-block__title {
  font-family: PT Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.event-block__info {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.event-info__location {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.event-block__text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  margin-top: 60px;
}

.location-text {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 19px;
}

.location-text:before {
  content: "";
  display: block;
  background: url("../img/location-icon.svg") no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.street-text {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 19px;
}

.street-text:before {
  content: "";
  display: block;
  background: url("../img/street-icon.svg") no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.underground-text {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 19px;
}

.underground-text:before {
  content: "";
  display: block;
  background: url("../img/subway-icon.svg") no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.geolocation-image {
  margin-top: 47px;
  width: 500px;
  height: 500px;
  background: url("../img/geolocation.jpg") no-repeat center;
}

.confirm-rewiew-button {
  width: 340px;
  height: 120px;
  background: var(--main-gradient);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rewiew-form {
  margin-top: 40px;
}

.rewiew-form__input {
  padding: 21px;
  width: 67%;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.rewiew-form__input::placeholder {
  font-family: PT Serif;
  font-size: 20px;
  left: 5px;
  color: #8986ac;
}

.event-description {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 570px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
  position: relative;
}

.event-description__title {
  width: 510px;
  height: 50px;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  color: #000000;
}

.event-description__body {
  font-family: PT Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;  
}

.event-description__star {
  background: url(../img/description-star.svg) no-repeat center / 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  transform: translate(50%);
}

.event-description__star:hover {
  transition-duration: 0.5s;
  transform: translate(60%);
}

.event-info__date {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.input-block {
  position: relative;
  display: flex;
  width: 67%;
}

.rate-stars {
  background: url(../img/stars.svg) no-repeat center / 100%;
  height: 28px;
  width: 120px;
  position: absolute;
  right: 400px;
  top: 15px;
}

textarea {
  font-family: PT Serif;
  font-size: 20px;
  left: 5px;
  color: black;
  resize: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-right: 40px;
  padding: 20px;
  flex: 1 1 auto;
}

.confirm-rewiew-button:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.rewiew {
  margin-top: 60px;
  display: flex;
  position: relative;
}

.rewiew__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../img/avatar.jpeg) no-repeat center / 100%;
}

.rewiew-body {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  height: 170px;
  flex: 1 1 auto;
  padding: 30px;
}

.rewiew__name {
  font-family: PT Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.rewiew__text {
  margin-top: 19px;
  font-family: PT Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.rewiew-rate-stars {
  background: url(../img/stars.svg) no-repeat center / 100%;
  height: 28px;
  width: 120px;
  position: absolute;
  right: 20px;
  top: 20px;
}