.container
    .row
        .page-photo_profile
        .search-main-block
            a.search-main-block__back-button(href='/' data-direction='events' data-profileId=Uid)
            .followings-header
                #followingsAvatar.followings-header__avatar(style='background: url(http://95.163.180.8:1323/api/v1/avatar/' + Uid + ') no-repeat center / cover;')
                //.profile-header__avatar_default
                .followings-header__title
                    | #{name}
            #jsTabsBlock.search__tabs-block
                button#followedUsersTab.tab-active(data-buttontype='toggle')
                    .search__events-img
                    | Подписки
                button#followersTab.tab-inactive(data-buttontype='toggle')
                    .search__people-img
                    | Подписчики
            .search__decor-line
            #changing-content.changing-content-block
                #users-list.users-list
                #paginator.paginator
