.button-block
    button#exhibitionButton.button-active(data-buttontype='toggle') Выставки
    button#concertButton.button-inactive(data-buttontype='toggle') Концерты
    button#theatreButton.button-inactive(data-buttontype='toggle') Театр
    button#entertainmentButton.button-inactive(data-buttontype='toggle') Развлечения
    button#trainingButton.button-inactive(data-buttontype='toggle') Обучение
    button#movieButton.button-inactive(data-buttontype='toggle') Кино
    button#festivalButton.button-inactive(data-buttontype='toggle') Фестивали
    button#excursionButton.button-inactive(data-buttontype='toggle') Экскурсии
#events-list.smbs-events-block
.paginator
    a.paginator__arrow-back(href='#')
    a.paginator__page-button(href='#') 1
    a.paginator__arrow-forward(href='#')