<div class="button-block">
    <button class="button-active" id="allEventsButton" data-buttontype="toggle">Все</button>
    <button class="inbutton-active" id="exhibitionButton" data-buttontype="toggle">Выставки</button>
    <button class="button-inactive" id="concertButton" data-buttontype="toggle">Концерты</button>
    <button class="button-inactive" id="museumButton" data-buttontype="toggle">Музеи</button>
    <button class="button-inactive" id="entertainmentButton" data-buttontype="toggle">Развлечения</button>
    <button class="button-inactive" id="trainingButton" data-buttontype="toggle">Обучение</button>
    <button class="button-inactive" id="movieButton" data-buttontype="toggle">Кино</button>
    <button class="button-inactive" id="festivalButton" data-buttontype="toggle">Фестивали</button>
    <button class="button-inactive" id="excursionButton" data-buttontype="toggle">Экскурсии</button>
</div>
<div class="smbs-events-block" id="events-list"></div>
<div class="paginator" id="paginator"></div>

