.logo
  a(href='/' data-direction='main' data-profileId=Uid) QDA
.navbar-profile-avatar(id='navbar-avatar')
a.navbar-profile-name(href='#' data-direction='profile')
  | #{name}
a(href="#", data-direction='logout')
  | logout