:root {
  --main-gradient: linear-gradient(90deg, #2e1665 0%, #57001e 100%);
}

.navbar {
  background: var(--main-gradient);
}

.navbar__row {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Abril Fatface;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.navbar-menu__signup {
  width: 20px;
  height: 20px;
  background: url("img/vector.png") no-repeat center / 100%;
}