.container
  .navbar__row(id='navbarRow')
    a.logo(href='/' data-direction='search' data-profileId=Uid) QDA
    .search-bar__block
      input#JSsearchBarInput.search-bar__input(type='text' name='searchBar')
      button#JSsearchBarButton.search-bar__button(type='reset')
    .navbar-menu
      a.navbar-menu__signup(href='/signup' data-direction='registration')