.users-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-user-block {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.one-user-block__body {
    background-color: white;
    min-height: 120px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 0 75px 0 140px;
    padding: 0 50px 0 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    position: relative;
}

.one-user-block__photo {
    width: 155px;
    height: 155px;
    background: url("img/avatar.png") no-repeat center / cover;
    border: 9px solid #FFFFFF;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    position: absolute;
    left: 0;
    transform: translate(-50%);
}

.one-user-block__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
}



