<div class="one-user-block">
    <div class="one-user-block__body">
        <div class="one-user-block__photo"></div>
        <div class="one-user-block__title">
            <a href="#" data-direction="oneProfile">Надежда Меркулова</a>
        </div>
        <div class="profile-header__other-info">
            <div class="profile-header__info-segment">
                <div class="profile-header__age-img"></div>
                21 год
            </div>
            <div class="profile-header__info-segment">
                <div class="profile-header__city-img"></div>
                Москва
            </div>
            <div class="profile-header__info-segment">
                <div class="profile-header__subscribers-img"></div>
                131 подписчик
            </div>
        </div>

    </div>
</div>