.form
  a.form__arrow-back(href='#', data-direction='back')
  .form__title Вход
  .decor-line
  form.form-body(id='formBody')
    input.form-body__input__login(type='text' name='login' placeholder='Введите логин' class='form__input')
    .form-body__error_input(id="loginError")
    input.form-body__input__password(type='password' name='password' placeholder='Введите пароль' class='form__input')
    .form-body__error_input(id="passwordError")
    button.confirm-button.button-label(type='submit' id='postLogin' )
      | Войти
    span.form__bottom-text
      | Нет аккаунта?
      a.a-stroke(data-direction='registration' href='/registration') Зарегистрируйтесь.