.form
  a.form__arrow-back(href='#', data-direction='back')
  .form__title Вход
  .decor-line
  form.form-body(id='formBody')
    input.form-body__input__login(type='text' name='login' placeholder='Введите логин' class='form__input')
    input.form-body__input__password(type='password' name='password' placeholder='Введите пароль' class='form__input')
    button.confirm-button(type='submit' id='postLogin' )
      span.button-label Войти
    span.form__bottom-text
      | Нет аккаунта?
      a.a-stroke(data-direction='signup' href='/signup') Зарегистрируйтесь.