.form
  a.form__arrow-back(href='#', data-direction='back')
  .form__title Вход
  .decor-line
  .form-body
    input.form-body__input__login(type='text' placeholder='Введите логин')
    input.form-body__input__password(type='password' placeholder='Введите пароль')
    button.confirm-button
      span.button-label &Vcy;&ocy;&jcy;&tcy;&icy;
    span.form__bottom-text
      | Нет аккаунта?
      a.a-stroke(data-direction='signup' href='/signup') Зарегистрируйтесь.
