.form
  a.form__arrow-back(href='#', data-direction='back')
  .form__title &Lcy;&ocy;&gcy;&icy;&ncy;
  .decor-line
  .form-body
    input.form-body__input__login(type='text' placeholder='Введите логин')
    input.form-body__input__password(type='password' placeholder='Введите пароль')
    button.confirm-button
      span.button-label &Vcy;&ocy;&jcy;&tcy;&icy;
    span.form__bottom-text
      | &IEcy;&shchcy;&iocy; &ncy;&iecy;&tcy; &acy;&kcy;&kcy;&acy;&ucy;&ncy;&tcy;&acy;?
      a.a-stroke(data-direction='signup' href='/signup') &Zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ucy;&jcy;&tcy;&iecy;&scy;&softcy;.
