@import "../../components/css/mixins";
@import "../../components/css/variables";

//.button-active {
//  font-size: 24px;
//  line-height: 32px;
//  text-align: center;
//  color: #ffffff;
//}
//
//.button-inactive {
//  font-size: 24px;
//  line-height: 32px;
//  text-align: center;
//  color: black;
//}

.search-main-block {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0px auto;
  //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
  position: relative;

  background: rgba( 120, 120, 120, 0.2 ); //для темного фона
  //background: rgba( 40, 40, 40, 0.35 ); //для светлого(относительно) фона
  //box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  box-shadow: 8px 8px 24px 0 rgba( 0, 0, 0, 0.2 );
  backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.25 );
  border-bottom: 0;
  border-right: 0;

  &__back-button {
    //background: url(../templates/search/img/back-arrow-icon.svg) no-repeat center / 30%;
    //height: 70px;
    //width: 70px;
    position: absolute;
    left: 0;
    top: 20px;
    transform: translate(-50%);

    height: 50px;
    width: 50px;
    background:
            url(../templates/search/img/back-arrow-icon.svg) no-repeat 43% 50% / 35%,
            linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    filter: brightness(2);
    border-radius: 50%;
    border: 1px solid rgba(222, 215, 216, 0.2);

    &:hover {
      transition-duration: 0.5s;
      transform: translate(-60%);
    }

    @media (max-width:767px) {
      &:hover {
        transform: none;
      }
    }
  }

  @media (max-width:767px) {
    &__back-button {
      @include value-adaptive("width", 95, 45);
      @include value-adaptive("height", 95, 45);
      transform: none;
      top: 10px;
      left: 10px;
    }
  }
}

@media (max-width:767px) {
  .search-main-block {
    margin-top: 0;
  }
}

.search__tabs-block {
  width: 100%;
  min-height: 57px;
  margin: 60px 145px 0 145px;
  display: flex;
  justify-content: center;
  //padding: 0 10% 0 10%;
}

@media (max-width:767px) {
  .search__tabs-block {
    @include value-adaptive("min-height", 67, 40);
    @include value-adaptive("margin-top", 80, 30);
  }
}

.tab-active {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: start;
  //margin-right: 32px;
  margin-right: 16px;
  margin-left: 16px;
  padding: 15px 32px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  //color: #000000;
  //border: 1px solid #E5E5E5;
  //border-bottom: 0;
  //box-shadow: 2px -2px 4px -2px rgba(0, 0, 0, 0.25);
  //box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.25);
  z-index: 1;
  transition: margin-top 0.2s ease-out 0s;
  white-space: nowrap;

  //background: rgba( 0, 0, 0, 0.1 );
  background: $main-gradient;
  filter: brightness(1.4);
  //box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.25);
  //backdrop-filter: blur( 9.5px );
  border-radius: 10px 10px 0 0;
  //border: 1px solid rgba( 255, 255, 255, 0.3 );
  border: 1px solid rgba( 255, 255, 255, 0.7 );
  border-bottom: 0;
  border-right: 0;
  color: rgba(222, 215, 216, 1);

  &:hover {
    margin-top: -10px;
    transition: margin-top 0.3s ease-out 0s;
  }

  @media (max-width:767px) {
    &:hover {
      margin-top: 0;
      transition: none;
    }
  }
}

@media (max-width:767px) {
  .tab-active {
    align-items: center;
    @include value-adaptive("font-size", 33, 16);
    @include value-adaptive("line-height", 26, 24);
    @include value-adaptive("padding-left", 42, 10);
    @include value-adaptive("padding-right", 42, 10);
    @include value-adaptive("padding-top", 20, 5);
    @include value-adaptive("padding-bottom", 20, 5);
    //@include value-adaptive("margin-right", 42, 15);
    @include value-adaptive("margin-left", 21, 3);
    @include value-adaptive("margin-right", 21, 3);

  }
}

.tab-inactive {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: start;
  //margin-right: 32px;
  margin-right: 16px;
  margin-left: 16px;
  padding: 15px 32px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  //color: #000000;
  //border: 1px solid #E5E5E5;
  border-bottom: 0;
  //box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.25);
  transition: margin-top 0.2s ease-out 0s;
  white-space: nowrap;

  background: rgba( 0, 0, 0, 0.4 );
  //box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.25);
  //backdrop-filter: blur( 9.5px );
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  border-bottom: 0;
  border-right: 0;
  color: rgba(222, 215, 216, 1);

  &:hover {
    margin-top: -10px;
    transition: margin-top 0.3s ease-out 0s;
  }

  @media (max-width:767px) {
    &:hover {
      margin-top: 0;
      transition: none;
    }
  }
}

@media (max-width:767px) {
  .tab-inactive {
    align-items: center;
    @include value-adaptive("font-size", 33, 16);
    @include value-adaptive("line-height", 26, 24);
    @include value-adaptive("padding-left", 42, 10);
    @include value-adaptive("padding-right", 42, 10);
    @include value-adaptive("padding-top", 20, 5);
    @include value-adaptive("padding-bottom", 20, 5);
    //@include value-adaptive("margin-right", 42, 15);
    @include value-adaptive("margin-left", 21, 3);
    @include value-adaptive("margin-right", 21, 3);
  }
}

.search__events-img {
  //background: url(../templates/search/img/events-img.svg) no-repeat center / cover;
  background: url(../templates/search/img/events-img-white.svg) no-repeat center / cover;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}

@media (max-width:767px) {
  .search__events-img {
    @include value-adaptive("width", 34, 19);
    @include value-adaptive("height", 34, 19);
    @include value-adaptive("margin-right", 12, 5);
  }
}

.search__people-img {
  //background: url(../templates/search/img/people-img.svg) no-repeat center / cover;
  background: url(../templates/search/img/people-img-white.svg) no-repeat center / cover;
  width: 22px;
  height: 23px;
  margin-right: 12px;
  flex-shrink: 0;
}

@media (max-width:767px) {
  .search__people-img {
    @include value-adaptive("width", 34, 19);
    @include value-adaptive("height", 32, 18);
    @include value-adaptive("margin-right", 12, 5);
  }
}

.search__decor-line {
  height: 2px;
  width: 100%;
  background-color: #E5E5E5;
  //margin-top: -2px;
  z-index: 0;
  margin-bottom: 60px;
}

@media (max-width:767px) {
  .search__decor-line {
    @include value-adaptive("margin-bottom", 80, 30);
  }
}

.button-block {
  width: 100%;
  display: flex;
  justify-content: start;
  align-self: start;
  flex-wrap: wrap;
  //margin-top: 30px;
}

@media (max-width:767px) {
  .button-block {
    justify-content: start;
    @include value-adaptive("margin-bottom", 100, 25);
  }
}

.button-block .button-active, .button-block .button-inactive {
  margin: 0 32px 32px 0;
}

@media (max-width:767px) {
  .button-block .button-active, .button-block .button-inactive {
    @include value-adaptive("margin-bottom", 48, 20);
    @include value-adaptive("margin-right", 48, 20);
  }
}

//.changing-content-block {
//  width: 100%;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: start;
//  margin-bottom: 40px;
//  padding: 0 30px;
//}

.search-block__header {
  width: 100%;
  padding: 0 80px;
}

@media (max-width:767px) {
  .search-block__header {
    @include value-adaptive("padding-left", 80, 30);
    @include value-adaptive("padding-right", 80, 30);
  }
}

.search-line-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
  border: 1px solid #E5E5E5;
  position: relative;
  padding: 15px 90px 15px 30px;

  background: rgba( 0, 0, 0, 0.4 );
  //box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  //backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.4 );
  border-bottom: 0;
  border-right: 0;

  &__input {
    width: 100%;
    //color: #8986AC;
    font-size: 30px;
    line-height: 40px;
    background: transparent;

    color: rgba(222, 215, 216, 0.7);


    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 31px;
      //color: #8986AC;

      color: rgba(222, 215, 216, 0.7);
    }

    @media (max-width:767px) {
      &::placeholder {
        @include value-adaptive("font-size", 30, 18);
        @include value-adaptive("line-height", 36, 22);
      }
    }

    &:focus {
      color: rgba(222, 215, 216, 1);
    }
  }

  @media (max-width:767px) {
    &__input {
      @include value-adaptive("font-size", 30, 18);
      @include value-adaptive("line-height", 36, 22);
    }
  }
}

@media (max-width:767px) {
  .search-line-block {
    @include value-adaptive("padding-left", 48, 10);
    @include value-adaptive("padding-right", 70, 40);
    @include value-adaptive("padding-top", 20, 5);
    @include value-adaptive("padding-bottom", 20, 5);
    @include value-adaptive("margin-top", 100, 60);
  }
}


.search-button {
  background: url(../templates/search/img/search-img-white.svg) no-repeat center / cover;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  position: absolute;
  right: 25px;
  cursor: pointer;
  transition: all 0.2s ease-out 0s;

  &:hover {
    width: 42px;
    height: 42px;
  }

  @media (max-width:767px) {
    &:hover {
      @include value-adaptive("width", 45, 25);
      @include value-adaptive("height", 45, 25);
    }
  }
}

@media (max-width:767px) {
  .search-button {
    @include value-adaptive("width", 45, 25);
    @include value-adaptive("height", 45, 25);
    @include value-adaptive("right", 25, 5);
  }
}
