.row
    .page-photo_profile
    .search-main-block
        a.search-main-block__back-button(href='/' data-direction='events' data-profileId=Uid)
        .search-block__header
            .search-line-block
                input#searchInput.search-line-block__input.form__input(type='text' value='' placeholder='Введите что-нибудь' name='search-request')
                button#jsSearchRequest.search-button
        #jsTabsBlock.search__tabs-block
            button#eventsTab.tab-active(data-buttontype='toggle')
                .search__events-img
                | Мероприятия
            button#usersTab.tab-inactive(data-buttontype='toggle')
                .search__people-img
                | Люди
        .search__decor-line
        #changing-content.changing-content-block
