    <div class="row">
        <div class="profile-main-block">
            <div class="profile-header">
                <div class="profile-header__avatar" id="profileAvatar"></div>
                <div class="profile-header__avatar_default"></div>
                <div class="profile-header__info-block">
                    <div class="profile-header__title">
                        Надежда Меркулова
                    </div>
                    <div class="profile-header__about">
                        <div class="profile-header__dialogue-cloud-img"></div>
                        На фото мне 17
                    </div>
                    <div class="profile-header__other-info">
                        <div class="profile-header__info-segment">
                            <div class="profile-header__age-img"></div>
                            21 год
                        </div>
                        <div class="profile-header__info-segment">
                            <div class="profile-header__city-img"></div>
                            Москва
                        </div>
                        <div class="profile-header__info-segment">
                            <div class="profile-header__subscribers-img"></div>
                            131 подписчик
                        </div>
                    </div>
                </div>
                <div class="profile-header__button-block">
                    <button class="button-inactive">Подписаться</button>
                    <button class="button-inactive">Написать</button>
                </div>
            </div>
            <div class="decor-line"></div>
            <div class="button-block">
                <button class="button-active" id="planningEventsButton" data-buttontype="toggle">Планируемые</button>
                <button class="button-inactive" id="visitedEventsButton" data-buttontype="toggle">Посещенные</button>
            </div>
            <div class="smbs-events-block" id="events-list"></div>
        </div>
    </div>