.event
    .event__photo
    .event__text
        .event__title
            a(href='#', id=id, data-direction='eventPage') #{title}
        .event__info
            | #{date} &nbsp &nbsp #{place}
    .event__chosen
