.smbs-event
    .smbs-event__photo(style='background: url(http://95.163.180.8:1323/api/v1/event/' + id + '/image) no-repeat center / cover;')
    .smbs-event__text
        .smbs-event__title
            a(href='#' id=id data-direction='eventPage') #{title}
        .smbs-event__info
            .smbs-event__place #{place}
            .smbs-event__data #{date}
    .smbs-event__chosen