.page-photo_form
.container
  .form
    a.form__arrow-back(href='/', data-direction='back')
    .form__title Регистрация
    .decor-line
    form.form-body(id='formBody')
      input.form-body__input(type='text' name='login' placeholder='Введите логин' class='form__input')
      .form-body__input_error(id="loginError")
      input.form-body__input(type='password' name='password' placeholder='Введите пароль' class='form__input')
      .form-body__input_error(id="passwordError")
      input.form-body__input(type='text' name='name' placeholder='Введите имя' class='form__input')
      .form-body__input_error(id="nicknameError")
      button.confirm-button.button-label(type='submit' id='postRegistration')
        | Зарегистрироваться
      span.form__bottom-text
        | Уже есть аккаунт?
        a.form__bottom-text_anchor(data-direction='login' href='/login') Войдите.
