    <div class="row">
            <div class="search-main-block">
                <a href="#" class="search-main-block__back-button"></a>
                <form action="" class="search-block__form">

                    <div class="search-line-block">
                        <input type="text" id="searchInput" value="Какая-то очень красивая интересная выставка"
                              placeholder='Введите что-нибудь' name="search-request"
                              class="search-line-block__input form__input">
                        <label for="searchInput" id="jsSearchRequest" class="search-button"></label>
                    </div>
                </form>

                <div class="search__tabs-block" id="jsTabsBlock">
                    <button class="tab-active" id="eventsTab" data-buttontype="toggle">
                        <div class="search__events-img"></div>
                        Мероприятия
                    </button>
                    <button class="tab-inactive" id="usersTab" data-buttontype="toggle">
                        <div class="search__people-img"></div>
                        Люди
                    </button>
                </div>
                <div class="search__decor-line"></div>
                <div class="changing-content-block" id="changing-content"></div>
            </div>
    </div>
