<form action="" class="changing-content-block__form">
    <div class="changing-content-block__one-line-setting">
        <div class="changing-content-block__one-setting">
            <div class="changing-content-block__title">
                Cтарый пароль
            </div>
            <input type="password" value="тут пароль" placeholder='Введите ваш старый пароль'
                   name="password" class="changing-content-block__input form__input">
        </div>
    </div>
    <div class="changing-content-block__one-line-setting">
        <div class="changing-content-block__one-setting">
            <div class="changing-content-block__title">
                Новый пароль
            </div>
            <input type="password" value="тут пароль" placeholder='Введите новый пароль'
                   name="password" class="changing-content-block__input form__input">
        </div>
    </div>
    <div class="changing-content-block__one-line-setting">
        <div class="changing-content-block__one-setting">
            <button class="button-active changing-content-block__button_save" id="postProfile">
                Сохранить
            </button>
        </div>
    </div>
</form>