.container
  .navbar__row(id='navbarRow')
    a.logo(href='/' data-direction='events' data-profileId=Uid) QDA
    .navbar-menu
      a.navbar-menu__signup(href='/signup' data-direction='registration')