.container
  .navbar__row(id='navbarRow')
    a.logo(href='/' data-direction='events' data-profileId=Uid) QDA
    .navbar-menu
      .navbar-menu__list
      .profile-nav
        .navbar-profile-avatar(id='navbar-avatar')
        .navbar-profile-name
          | #{name}
        input(type="checkbox" id="toggle")
        label(for="toggle")
        .dropdown-menu
          a.dropdown-menu__settings.dropdown-menu__text-label(href="profile?tab=settingsTab") Настройки
          a.dropdown-menu__events.dropdown-menu__text-label(href="profile?tab=eventsTab") Мои события
          a.dropdown-menu__logout.dropdown-menu__text-label(href="logout") Выйти
