.container
  .navbar__row(id='navbarRow')
    a.logo(href='/' data-direction='events' data-profileId=Uid) QDA
    .search-bar__block
      input#JSsearchBarInput.search-bar__input(type='text' name='searchBar')
      button#JSsearchBarButton.search-bar__button(type='reset')
    .notifications#JSNavbarBell
      .notifications__bell
      .notifications__count#JSNotificationsCount
        | 100
    .notification-list#JSNavbarNotificationList.css-hidden
      span.notification-list__title
        | Уведомления
      .notification-list__line
    .navbar-menu
      .navbar-menu__list
      .profile-nav(id='jsProfileNav')
        .navbar-profile-avatar(id='navbar-avatar')
        .navbar-profile-name
          | #{name}
        input(type="checkbox" id="toggle")
        label(for="toggle")
        .dropdown-menu
          a.dropdown-menu__profile(href="profile?tab=eventsTab") Профиль
          a.dropdown-menu__activity(href="activity") Активность
          a.dropdown-menu__chat(href="chat") Чат
          a.dropdown-menu__logout(href="logout") Выйти
