.container
  .navbar__row(id='navbarRow')
    a.logo(href='/' data-direction='events' data-profileId=Uid) QDA
    .search-bar__block
      input.navbar__search(id='jsNavbarSearchInput')
      button.confirm-search-button(id='jsConfirmSearch')
    .navbar-menu
      a.navbar-menu__signup(href='/signup' data-direction='registration')
