span.notification-list__title
    | Уведомления
.notification-list__line
.notification-empty
    .notification-empty__title
        | Пока ничего нет
    .notification-empty__text
        | Здесь будут собраны уведомления о предстоящих мероприятиях и приглашениях
