<form action="" class="changing-content-block__form">
    <div class="changing-content-block__one-line-setting">
        <div class="changing-content-block__one-setting">
            <div class="changing-content-block__title">
                Меня зовут:
            </div>
            <input type="text" value="Надежда Меркулова" placeholder='Введите, как вас зовут' name="name"
                   class="changing-content-block__input form__input">
        </div>
    </div>
    <div class="changing-content-block__one-line-setting">
        <div class="changing-content-block__one-setting">
            <div class="changing-content-block__title">
                Немного обо мне:
            </div>
            <input type="text" value="На фото мне 17" placeholder='Напишите здесь немного о себе' name="about"
                   class="changing-content-block__input form__input">
        </div>
    </div>
    <div class="changing-content-block__one-line-setting">
        <div class="changing-content-block__one-setting">
            <div class="changing-content-block__title">
                Я родился(-ась):
            </div>
            <input type="text" value="27 апреля 1999" placeholder='ДД месяц ГГГГ' name="birthday"
                   class="changing-content-block__input form__input">
        </div>
        <div class="changing-content-block__one-setting">
            <div class="changing-content-block__title">
                Мой город:
            </div>
            <input type="text" value="Москва" placeholder='Введите ваш город' name="city"
                   class="changing-content-block__input form__input">
        </div>
    </div>
    <div class="changing-content-block__one-line-setting">
        <div class="changing-content-block__one-setting">
            <div class="changing-content-block__title">
                Моя почта:
            </div>
            <input type="text" value="moya_pochta@kek.ru" placeholder='Введите свою почту' name="email"
                   class="changing-content-block__input form__input">
        </div>
    </div>
    <div class="changing-content-block__one-line-setting">
        <div class="changing-content-block__one-setting">
            <button class="button-active changing-content-block__button_save" id="postProfile">Сохранить изменения
            </button>
        </div>
    </div>
</form>