button#paginationBack.paginator__arrow-back
.paginator__page-button
    button#paginationCurrent.paginator__page-button_number(href='#') #{page}
button#paginationForward.paginator__arrow-forward(href='#')
