form.changing-content-block__form(action)
    .changing-content-block__one-line-setting
        .changing-content-block__one-setting
            .changing-content-block__title Cтарый пароль
            input.changing-content-block__input(type='password', value='тут пароль', placeholder='Введите ваш старый пароль', name='password')
    .changing-content-block__one-line-setting
        .changing-content-block__one-setting
            .changing-content-block__title Новый пароль
            input.changing-content-block__input(type='password', value='тут пароль', placeholder='Введите новый пароль', name='password')
    .changing-content-block__one-line-setting
        .changing-content-block__one-setting
            button.button-active.changing-content-block__button_save#postProfile Сохранить
