    <div class="row">
        <div class="profile-main-block">
            <div class="profile-header">
                <div class="profile-header__avatar" id="profileAvatar"></div>
                <div class="profile-header__info-block">
                    <div class="profile-header__title">
                        Надежда Меркулова
                    </div>
                    <div class="profile-header__about">
                        <div class="profile-header__dialogue-cloud-img"></div>
                        На фото мне 17
                    </div>
                    <div class="profile-header__other-info">
                        <div class="profile-header__info-segment">
                            <div class="profile-header__age-img"></div>
                            21 год
                        </div>
                        <div class="profile-header__info-segment">
                            <div class="profile-header__city-img"></div>
                            Москва
                        </div>
                        <div class="profile-header__info-segment">
                            <div class="profile-header__subscribers-img"></div>
                            131 подписчик
                        </div>
                    </div>
                </div>
                <div class="profile-header__button-block">
                    <button class="button-inactive">
                        <div class="button-label_inactive">Подписаться</div>
                    </button>
                    <button class="button-inactive">
                        <div class="button-label_inactive">Написать</div>
                    </button>
                </div>
            </div>
            <div class="decor-line"></div>
            <div class="button-block">
                <button class="button-active">
                    <span class="button-label">Планируемые</span>
                </button>
                <button class="button-inactive">
                    <span class="button-label_inactive">Посещенные</span>
                </button>
            </div>
            <div class="my-events-block" id="events-list">

            </div>
            <div class="paginator">
                <a href="#" class="paginator__arrow-back"></a>
                <a href="#" class="paginator__page-button">1</a>
                <a href="#" class="paginator__arrow-forward"></a>
            </div>
        </div>
    </div>