<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои мероприятия</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/my-events.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/buttons.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="navbar">
    <div class="container">
        <div class="navbar__row">
            <div class="logo">QDA</div>
            <div class="navbar-menu">
                <a href="#" class="navbar-menu__signup"></a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="profile-main-block">
            <div class="profile-header">
                <div class="profile-header__avatar"></div>
                <div class="profile-header__info-block">
                    <div class="profile-header__title">
                        Надежда Меркулова
                    </div>
                    <div class="profile-header__about">
                        <div class="profile-header__dialogue-cloud-img"></div>
                        На фото мне 17
                    </div>
                    <div class="profile-header__other-info">
                        <div class="profile-header__info-segment">
                            <div class="profile-header__age-img"></div>
                            21 год
                        </div>
                        <div class="profile-header__info-segment">
                            <div class="profile-header__city-img"></div>
                            Москва
                        </div>
                        <div class="profile-header__info-segment">
                            <div class="profile-header__subscribers-img"></div>
                            131 подписчик
                        </div>
                    </div>
                </div>
                <div class="profile-header__button-block">
                    <button class="button-inactive">
                        <div class="button-label_inactive">Подписаться</div>
                    </button>
                    <button class="button-inactive">
                        <div class="button-label_inactive">Написать</div>
                    </button>
                </div>
            </div>
            <div class="decor-line"></div>
            <div class="button-block">
                <button class="button-active">
                    <span class="button-label">Планируемые</span>
                </button>
                <button class="button-inactive">
                    <span class="button-label_inactive">Посещенные</span>
                </button>
            </div>
            <div class="my-events-block" id="events-list">

            </div>
            <div class="paginator">
                <a href="#" class="paginator__arrow-back"></a>
                <a href="#" class="paginator__page-button">1</a>
                <a href="#" class="paginator__arrow-forward"></a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer__text">
        wheresoever, 2021
    </div>
    <div class="footer__text">
        fyvaoldzh
    </div>
</div>
</body>
</html>