#jsEventsButtonsBlock.button-block
    button.button-active#planningEventsButton(data-buttontype='toggle') Планируемые
    button.button-inactive#visitedEventsButton(data-buttontype='toggle') Посещенные
.smbs-events-block.my-events-block#events-list
