.event-follower-block(id=id)
    .event-follower-block__avatar(style='background: url(http://95.163.180.8:1323/api/v1/avatar/' + id + ') no-repeat center / cover;')
    .event-follower-block__name
        | #{name}
