.going-user
    a.going-user__photo(href='profile' + id, style={background: 'url(' + 'http://95.163.180.8:1323/api/v1/avatar/' + id + ')' + ' no-repeat center / cover'})
    .going-user__name
        | #{name}
