@import "../../components/css/variables";
@import "../../components/css/mixins";

.tags {
  margin-top: 60px;
}

.event-info {
  margin-top: 60px;

  &__title {
    font: $title-event;
    margin-top: 20px;
  }

  &__date {
    margin-top: 20px;
    font: $little-font;
  }

  &__location {
    @extend .event-info__date;

    &_place {
      margin-top: 20px;
      &:before {
        @include before-event-info("../templates/one-event-page/img/location-icon.svg");
      }
    }

    &_street {
      margin-top: 20px;

      &:before {
        @include before-event-info("../templates/one-event-page/img/street-icon.svg");
      }
    }

    &_subway {
      margin-top: 20px;

      &:before {
        @include before-event-info("../templates/one-event-page/img/subway-icon.svg");
      }
    }
  }
}

.geolocation-image {
  margin-top: 47px;
  width: 500px;
  height: 500px;
  background: url("../templates/one-event-page/img/geolocation.jpg") no-repeat center;
}


.confirm-rewiew-button {
  width: 340px;
  height: 120px;
  background: var(--main-gradient);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.event-description {
  @include flex-mixin(column, center);
  box-shadow: $project-box-shadow;
  justify-content: space-between;
  max-width: 570px;
  padding: 20px;
  margin-top: 60px;
  position: relative;
  background: $project-white;

  &__title {
    font: $title-event;
    color: $project-black;
  }

  &__body {
    margin-top: 20px;
    font: $main-font;
  }

  &__star {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    transform: translate(50%);

    &_active {
      @extend .event-description__star;
      background: url("../templates/one-event-page/img/description-star_active.svg") no-repeat center / cover;
    }

    &_inactive {
      @extend .event-description__star;
      background: url("../templates/one-event-page/img/description-star_inactive.svg") no-repeat center / 100%;
    }

    &:hover {
      transition-duration: 0.5s;
      transform: translate(60%);
    }
  }
}

.going-user {
  margin-left: 50px;
  width: 100px;
  @include flex-mixin(column, center);
  justify-content: space-between;

  &__photo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: $project-box-shadow;
  }

  &__name {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 20px;
    font: $little-font;
    text-align: center;
  }
}

.going-title {
  font: $title-font;
  margin-top: 30px;
}

.description-wrapper {
  height: 460px;
}
