:root {
  --main-gradient: linear-gradient(90deg, #2e1665 0%, #57001e 100%);
}

.tags {
  margin-top: 60px;
}

.event-info {
  margin-top: 60px;
}

.event-info__location {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.location-text {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 19px;
}

.location-text:before {
  content: "";
  display: block;
  background: url("img/location-icon.svg") no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.street-text {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 19px;
}

.street-text:before {
  content: "";
  display: block;
  background: url("img/street-icon.svg") no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.underground-text {
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 19px;
}

.underground-text:before {
  content: "";
  display: block;
  background: url("img/subway-icon.svg") no-repeat center / cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.geolocation-image {
  margin-top: 47px;
  width: 500px;
  height: 500px;
  background: url("img/geolocation.jpg") no-repeat center;
}


.confirm-rewiew-button {
  width: 340px;
  height: 120px;
  background: var(--main-gradient);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rewiew-form {
  margin-top: 40px;
}

.rewiew-form__input {
  padding: 21px;
  width: 67%;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.rewiew-form__input::placeholder {
  font-family: PT Serif;
  font-size: 20px;
  left: 5px;
  color: #8986ac;
}

.event-description {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 570px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
  position: relative;
}

.event-description__title {
  width: 510px;
  height: 50px;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  color: #000000;
}

.event-description__body {
  font-family: PT Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.event-description__star_active {
  background: url("img/description-star_active.svg") no-repeat center / 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  transform: translate(50%);
}

.event-description__star_inactive {
  background: url("img/description-star_inactive.svg") no-repeat center / 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  transform: translate(50%);
}

.event-description__star:hover {
  transition-duration: 0.5s;
  transform: translate(60%);
}

.event-info__date {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: PT Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.rate-stars {
  background: url("img/stars.svg") no-repeat center / 100%;
  height: 28px;
  width: 120px;
  position: absolute;
  right: 400px;
  top: 15px;
}

.rewiew {
  margin-top: 60px;
  display: flex;
  position: relative;
}

.rewiew-body {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  height: 170px;
  flex: 1 1 auto;
  padding: 30px;
}

.rewiew__name {
  font-family: PT Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.rewiew__text {
  margin-top: 19px;
  font-family: PT Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.rewiew-rate-stars {
  background: url("img/stars.svg") no-repeat center / 100%;
  height: 28px;
  width: 120px;
  position: absolute;
  right: 20px;
  top: 20px;
}
