.going-user
    a.going-user__photo(href='profile' + id, style={background: 'url(' + 'https://qdaqda.ru/api/v1/avatar/' + id + ')' + ' no-repeat center / cover'})
    .going-user__name
        | #{name}
