input[type="file"] {
  display: none;
}

.button-active {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.button-inactive {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: black;
}

.my-profile-main-block {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
  position: relative;

  &__back-button {
    background: url(../templates/profile/img/back-arrow.svg) no-repeat center / 100%;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 20px;
    transform: translate(-50%);
  }

  &__back-button:hover {
    transition-duration: 0.5s;
    transform: translate(-60%);
  }
}:root {
    --main-gradient: linear-gradient(90deg, #2e1665 0%, #57001e 100%);
}

input[type="file"] {
    display: none;
}

.button-active {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}

.button-inactive {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: black;
}

.my-profile-main-block {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    position: relative;
}

.my-profile-main-block__back-button {
    background: url("../templates/profile/img/back-arrow.svg") no-repeat center / 100%;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 20px;
    transform: translate(-50%);
}

.my-profile-main-block__back-button:hover {
    transition-duration: 0.5s;
    transform: translate(-60%);
}

.my-profile-header {
    font-family: PT Serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    text-align: start;
    color: #000000;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: start;
    margin-top: 50px;
    padding: 0 30px;
}

.my-profile-header__events-segment {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 80px;
}

.my-profile-header__info-segment {
    display: flex;
    align-items: center;
    justify-content: start;
}

.my-profile-header__avatar-block {
    height: 160px;
    width: 160px;
    margin: 0px 50px;
    position: relative;
    border: 11px solid #FFFFFF;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    box-sizing: content-box;
    flex-shrink: 0;
}

.change-avatar-button {
    background: url("../templates/profile/img/edit-button.svg") no-repeat center / cover;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: absolute;
    left: -10px;
    bottom: -10px;
    cursor: pointer;
}

.change-avatar-button__submit {
    background: url("../templates/profile/img/submit-avatar.svg") no-repeat center / cover;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: absolute;
    left: -10px;
    bottom: -10px;
    cursor: pointer;
    display: none;
}

.change-avatar-button__decline {
    background: url("../templates/profile/img/decline-avatar.svg") no-repeat center / cover;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: absolute;
    left: 110px;
    bottom: -10px;
    cursor: pointer;
    display: none;
}

.change-avatar-button:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.my-profile-header__info-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
}

.my-profile-header__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
 }

.my-profile-header__login-block {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    margin-top: 12px;
}

.my-profile-header__followers-block {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 40px;
}

.my-profile-header__followers-img {
    background: url("../templates/profile/img/subscribers.svg") no-repeat center / cover;
    width: 30px;
    height: 18px;
    margin-right: 9px;
}

.my-profile-header__events-stats-block {
    display: flex;
    align-items: center;
    justify-content: start;
}

.my-profile-header__events-stats-block_planning {
    display: flex;
    align-items: center;
    justify-content: start;
}

.my-profile-header__events-stats-block_visited {
    display: flex;
    align-items: center;
    justify-content: start;
}

.my-profile-header__black-star-img {
    background: url("../templates/profile/img/star-black.svg") no-repeat center / cover;
    width: 30px;
    height: 30px;
    margin-right: 9px;
    flex-shrink: 0;
}

.my-profile-header__visited-events-img {
    background: url("../templates/profile/img/visited-events.svg") no-repeat center / cover;
    width: 30px;
    height: 30px;
    margin-right: 9px;
    margin-left: 20px;
    flex-shrink: 0;
}

.my-profile__tabs-block {
    width: 100%;
    margin: 0px 145px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 16.5%;
}

.tab-active {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
    padding: 15px 32px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    border: 1px solid #E5E5E5;
    border-bottom: 0;
    box-shadow: 2px -2px 4px -2px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: margin-top 0.2s ease-out 0s;
}

.tab-active:hover {
    margin-top: -10px;
    transition: margin-top 0.3s ease-out 0s;
}

.tab-inactive {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
    padding: 15px 32px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    border: 1px solid #E5E5E5;
    border-bottom: 0;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.25);
    transition: margin-top 0.2s ease-out 0s;
}

.tab-inactive:hover {
    margin-top: -10px;
    transition: margin-top 0.3s ease-out 0s;
}

.my-profile__events-img {
    background: url("../templates/profile/img/events-img.svg") no-repeat center / cover;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    flex-shrink: 0;
}

.my-profile__about-img {
    background: url("../templates/profile/img/about-img.svg") no-repeat center / cover;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    flex-shrink: 0;
}

.settings-block__change-avatar-img {
    background: url("../templates/profile/img/change-avatar.svg") no-repeat center / cover;
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.my-profile__settings-img {
    background: url("../templates/profile/img/settings-img.svg") no-repeat center / cover;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    flex-shrink: 0;
}

.my-profile__decor-line {
    height: 2px;
    width: 100%;
    background-color: #E5E5E5;
    margin-top: -2px;
    z-index: 0;
    margin-bottom: 60px;
}

.changing-content-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 40px;
    padding: 0 30px;
}

.changing-content-block__form {
    width: 62%;
}

.changing-content-block__one-line-setting {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 40px;
}

.changing-content-block__one-setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0 15px;
}

.changing-content-block__change-avatar-img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.changing-content-block__edit-img {
    background: url("../templates/profile/img/edit-button.svg") no-repeat center / cover;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.changing-content-block__edit-img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.changing-content-block__input {
    width: 100%;
    padding: 14px 24px;
    font-size: 26px;
    line-height: 34px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    color: #8986AC;
    left: 0;
}

.changing-content-block__input::-webkit-input-placeholder {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #8986AC;
}
.changing-content-block__input::-moz-placeholder {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #8986AC;
}
.changing-content-block__input:-moz-placeholder {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #8986AC;
}
.changing-content-block__input:-ms-input-placeholder {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #8986AC;
}

.changing-content-block__input:focus {
    color: #000000;
}

.changing-content-block__title {
    width: 200px;
    margin: 0 0 24px 0;
    padding: 0;
}

.changing-content-block__button_save {
    width: 100%;
    height: 62px;
}


.my-profile-header {
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  text-align: start;
  color: #000000;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: start;
  margin-top: 50px;
  padding: 0 30px;

  &__events-segment {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 80px;
  }

  &__info-segment {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__avatar-block {
    background: url('../templates/profile/img/chel.jpg') no-repeat center / cover;
    height: 160px;
    width: 160px;
    margin: 0px 50px;
    position: relative;
    border: 11px solid #FFFFFF;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    box-sizing: content-box;
    flex-shrink: 0;
  }


  &__info-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
  }

  &__login-block {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    margin-top: 12px;
  }

  &__followers-block {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 40px;
  }

  &__followers-img {
    background: url(../templates/profile/img/subscribers.svg) no-repeat center / cover;
    width: 30px;
    height: 18px;
    margin-right: 9px;
  }

  &__events-stats-block {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__events-stats-block_planning {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__events-stats-block_visited {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__black-star-img {
    background: url(../templates/profile/img/star-black.svg) no-repeat center / cover;
    width: 30px;
    height: 30px;
    margin-right: 9px;
    flex-shrink: 0;
  }

  &__visited-events-img {
    background: url(../templates/profile/img/visited-events.svg) no-repeat center / cover;
    width: 30px;
    height: 30px;
    margin-right: 9px;
    margin-left: 20px;
    flex-shrink: 0;
  }
}

.change-avatar-button {
  background: url(../templates/profile/img/edit-button.svg) no-repeat center / cover;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  position: absolute;
  left: -10px;
  bottom: -10px;
  cursor: pointer;

  &__submit {
    background: url(../templates/profile/img/submit-avatar.svg) no-repeat center / cover;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: absolute;
    left: -10px;
    bottom: -10px;
    cursor: pointer;
    display: none;
  }


  &__decline {
    background: url(../templates/profile/img/decline-avatar.svg) no-repeat center / cover;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: absolute;
    left: 110px;
    bottom: -10px;
    cursor: pointer;
    display: none;

    &:hover {
      transform: scale(1.05);
      transition-duration: 0.5s;
    }
  }
}

.my-profile__tabs-block {
  width: 100%;
  margin: 0px 145px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  padding: 0 14%;
  min-height: 57px;
}

.tab-active {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px;
  padding: 15px 32px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  border: 1px solid #E5E5E5;
  border-bottom: 0;
  box-shadow: 2px -2px 4px -2px rgba(0, 0, 0, 0.25);
  z-index: 1;
  transition: margin-top 0.2s ease-out 0s;

  &:hover {
    margin-top: -10px;
    transition: margin-top 0.3s ease-out 0s;
  }
}

.tab-inactive {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px;
  padding: 15px 32px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  border: 1px solid #E5E5E5;
  border-bottom: 0;
  box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.25);
  transition: margin-top 0.2s ease-out 0s;

  &:hover {
    margin-top: -10px;
    transition: margin-top 0.3s ease-out 0s;
  }
}

.my-profile__events-img {
  background: url(../templates/profile/img/events-img.svg) no-repeat center / cover;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}

.my-profile__about-img {
  background: url(../templates/profile/img/about-img.svg) no-repeat center / cover;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}

.settings-block__change-avatar-img {
  background: url(../templates/profile/img/change-avatar.svg) no-repeat center / cover;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.my-profile__settings-img {
  background: url(../templates/profile/img/settings-img.svg) no-repeat center / cover;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}

.my-profile__decor-line {
  height: 2px;
  width: 100%;
  background-color: #E5E5E5;
  margin-top: -2px;
  z-index: 0;
  margin-bottom: 60px;
}

.changing-content-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;
  padding: 0 30px;

  &__form {
    width: 62%;
  }

  &__one-line-setting {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 40px;
  }

  &__one-setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0 15px;
  }

  &__change-avatar-img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }

  &__edit-img {
    background: url(../templates/profile/img/edit-button.svg) no-repeat center / cover;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  &__edit-img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }

  &__title {
    width: 200px;
    margin: 0 0 24px 0;
    padding: 0;
  }

  &__button_save {
    width: 100%;
    height: 62px;
  }

  &__input {
    width: 100%;
    padding: 14px 24px;
    font-size: 26px;
    line-height: 34px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    color: #8986AC;
    left: 0;

    &::-webkit-input-placeholder {
      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 31px;
      color: #8986AC;
    }
    &::-moz-placeholder {
      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 31px;
      color: #8986AC;
    }
    &:-moz-placeholder {
      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 31px;
      color: #8986AC;
    }
    &:-ms-input-placeholder {
      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 31px;
      color: #8986AC;
    }

    &:focus {
      color: #000000;
    }
  }
}
