.events-block
  a.events-block__photo(href='#', data-eventid=Id, data-direction='eventPage')
  .events-block__text
    .events-block__title
      |#{Title}
    .events-block__info
      |#{Description}