.row
  .container
    .right-row
      .text-block
        .text-block__title
          | &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy;.
        .decor-line
        .text-block__body
          | &YAcy; &vcy; &scy;&vcy;&ocy;&iecy;&mcy; &pcy;&ocy;&zcy;&ncy;&acy;&ncy;&icy;&icy; &ncy;&acy;&scy;&tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &pcy;&rcy;&iecy;&icy;&scy;&pcy;&ocy;&lcy;&ncy;&icy;&lcy;&scy;&yacy;, &chcy;&tcy;&ocy; &yacy; &kcy;&acy;&kcy; &bcy;&ucy;&dcy;&tcy;&ocy; &bcy;&ycy; &ucy;&zhcy;&iecy; &scy;&tcy;&ocy; &tcy;&rcy;&icy;&lcy;&lcy;&icy;&ocy;&ncy;&ocy;&vcy; &mcy;&icy;&lcy;&lcy;&icy;&acy;&rcy;&dcy;&ocy;&vcy; &lcy;&iecy;&tcy; &pcy;&rcy;&ocy;&zhcy;&icy;&vcy;&acy;&yucy; &ncy;&acy; &tcy;&rcy;&icy;&lcy;&lcy;&icy;&ocy;&ncy;&acy;&khcy; &icy; &tcy;&rcy;&icy;&lcy;&lcy;&icy;&ocy;&ncy;&acy;&khcy; &tcy;&acy;&kcy;&icy;&khcy; &zhcy;&iecy; &pcy;&lcy;&acy;&ncy;&iecy;&tcy;, &kcy;&acy;&kcy; &ecy;&tcy;&acy; &Zcy;&iecy;&mcy;&lcy;&yacy;, &mcy;&ncy;&iecy; &ecy;&tcy;&ocy;&tcy; &mcy;&icy;&rcy; &acy;&bcy;&scy;&ocy;&lcy;&yucy;&tcy;&ncy;&ocy; &pcy;&ocy;&ncy;&yacy;&tcy;&iecy;&ncy;, &icy; &yacy; &zcy;&dcy;&iecy;&scy;&softcy; &icy;&shchcy;&ucy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &ocy;&dcy;&ncy;&ocy;&gcy;&ocy; - &pcy;&ocy;&kcy;&ocy;&yacy;, &ucy;&mcy;&icy;&rcy;&ocy;&tcy;&vcy;&ocy;&rcy;&iecy;&ncy;&icy;&yacy; &icy; &vcy;&ocy;&tcy; &ecy;&tcy;&ocy;&jcy; &gcy;&acy;&rcy;&mcy;&ocy;&ncy;&icy;&icy;, &ocy;&tcy; &scy;&lcy;&icy;&yacy;&ncy;&icy;&yacy; &scy; &bcy;&iecy;&scy;&kcy;&ocy;&ncy;&iecy;&chcy;&ncy;&ocy; &vcy;&iecy;&chcy;&ncy;&ycy;&mcy;, &ocy;&tcy; &scy;&ocy;&zcy;&iecy;&rcy;&tscy;&acy;&ncy;&icy;&yacy; &vcy;&iecy;&lcy;&icy;&kcy;&ocy;&gcy;&ocy; &fcy;&rcy;&acy;&kcy;&tcy;&acy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ocy;&dcy;&ocy;&bcy;&icy;&yacy; &icy; &ocy;&tcy; &vcy;&ocy;&tcy; &ecy;&tcy;&ocy;&gcy;&ocy; &zcy;&acy;&mcy;&iecy;&chcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &vcy;&scy;&iecy;&iecy;&dcy;&icy;&ncy;&scy;&tcy;&vcy;&acy; &scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy;, &bcy;&iecy;&scy;&kcy;&ocy;&ncy;&iecy;&chcy;&ncy;&ocy; &vcy;&iecy;&chcy;&ncy;&ocy;&gcy;&ocy;, &kcy;&ucy;&dcy;&acy; &ncy;&icy; &pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&icy;, &khcy;&ocy;&tcy;&softcy; &vcy;&gcy;&lcy;&ucy;&bcy;&softcy; - &bcy;&iecy;&scy;&kcy;&ocy;&ncy;&iecy;&chcy;&ncy;&ocy; &mcy;&acy;&lcy;&ocy;&iecy;, &khcy;&ocy;&tcy;&softcy; &vcy;&vcy;&ycy;&scy;&softcy; - &bcy;&iecy;&scy;&kcy;&ocy;&ncy;&iecy;&chcy;&ncy;&ocy;&iecy; &bcy;&ocy;&lcy;&softcy;&shcy;&ocy;&iecy;, &pcy;&ocy;&ncy;&icy;&mcy;&acy;&iecy;&shcy;&softcy;? &Acy; &tcy;&ycy; &mcy;&ncy;&iecy; &ocy;&pcy;&yacy;&tcy;&softcy; &scy;&ocy; &scy;&vcy;&ocy;&icy;&mcy; &vcy;&ocy;&tcy; &ecy;&tcy;&icy;&mcy;, &icy;&dcy;&icy; &scy;&ucy;&iecy;&tcy;&icy;&scy;&softcy; &dcy;&acy;&lcy;&softcy;&shcy;&iecy;, &ecy;&tcy;&ocy; &tcy;&vcy;&ocy;&iocy; &rcy;&acy;&scy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&iecy;, &ecy;&tcy;&ocy; &tcy;&vcy;&ocy;&jcy; &pcy;&ucy;&tcy;&softcy; &icy; &tcy;&vcy;&ocy;&jcy; &gcy;&ocy;&rcy;&icy;&zcy;&ocy;&ncy;&tcy; &pcy;&ocy;&zcy;&ncy;&acy;&ncy;&icy;&yacy; &icy; &ocy;&shchcy;&ucy;&shchcy;&iecy;&ncy;&icy;&yacy; &tcy;&vcy;&ocy;&iecy;&jcy; &pcy;&rcy;&icy;&rcy;&ocy;&dcy;&ycy;, &ocy;&ncy; &ncy;&iecy;&scy;&ocy;&icy;&zcy;&mcy;&iecy;&rcy;&icy;&mcy;&ocy; &mcy;&iecy;&lcy;&ocy;&kcy; &pcy;&ocy; &scy;&rcy;&acy;&vcy;&ncy;&iecy;&ncy;&icy;&yucy; &scy; &mcy;&ocy;&icy;&mcy;, &pcy;&ocy;&ncy;&icy;&mcy;&acy;&iecy;&shcy;&softcy;?
  .events-table
    .container
      .title
        | &Ncy;&acy;&khcy;&ocy;&dcy;&icy;&tcy;&iecy; &scy;&ocy;&bcy;&ycy;&tcy;&icy;&yacy;
        .right-arrow
      .left-row
        button.button-active
          span.button-label &Vcy;&ycy;&scy;&tcy;&acy;&vcy;&kcy;&icy;
        button.button-inactive
          span.button-label_inactive &Kcy;&icy;&ncy;&ocy;
        button.button-inactive
          span.button-label_inactive &Kcy;&ocy;&ncy;&tscy;&iecy;&rcy;&tcy;&ycy;
      #events-row(class="center-row")
